*,
html,
body {
    margin: 0;
    padding: 0;

    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat Alternates', sans-serif;
    /* font-family: 'Rubik', sans-serif; */

    font-size: 17px;
    box-sizing: border-box;
}

.introduction {
    background-image: url('images/nomabg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* NAVIGATION BAR */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    margin: 0 auto 20px;
    padding: 15px 0;
}

.logo {
    height: 30px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    transition: .3s;
    font-size: 18px;
}

nav ul li a:hover {
    color: #794CFB;
    transition: .3s;
    cursor: pointer;
}

.hire_btn {
    width: 120px;
    height: 40px;
}

.hire_btn,
.send_button {
    background-color: #794CFB;
    border-radius: 7px;
    font-weight: 500;
    transition: .3s;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.hire_btn:hover,
.send_button:hover {
    border: 2px solid #794CFB;
    color: #794CFB;
    background-color: transparent;
    transition: .3s;
    outline: none;
    cursor: pointer;
}

/* PURPLE BACKGROUND */

.purple_side{
    position: absolute;
    left: 0px;
    top: 100px;
} 

/* PROFILE SECTION */

.section {
    width: 73%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    z-index: 1;
}

.side_text{
    font-size: 25px;
    color: #000000;
}

.my_name{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin: 25px 0;
}

em {
    font-weight: lighter;
    font-size: 20px;
    font-style: normal;
}

.download_cv_btn {
    width: 170px;
    height: 50px;
    margin: 37px 0;
    background-color: transparent;
    border-radius: 7px;
    font-weight: 500;
    transition: .3s;
    outline: none;
    border: 2px solid #fff;
    color: #FFFFFF;
}

.download_cv_btn:hover {
    background-color: #fff;
    transition: .3s;
    border: 2px solid #fff;
    color: #794CFB;
    outline: none;
}

/* PROFILE PICTURE */

.dp {
    height: 87vh;
}

/* SERVICES SECTION */

.services_section,
.portfolio_content {
    width: 73%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.sect {
    width: 100%;
}

.srvc_dscrpt {
    margin: 0 0 50px;
    text-align: center;
}

.section_title {
    font-size: 35px;
    margin: 0 0 27px;
    text-align: center;
}

.srvc_mini_title,
ul.languages {
    color: #5a5a5a;
}

/* THE SERVICES */

.my_services {
    display: flex;
    justify-content: space-between;
}

/* THE SERVICES_BACKEND */

.backend_skills {
    border-radius: 15px;
    width: 335px;
    height: 377px;
    text-align: center;
    margin: 0 0 20px;
}

.services_icons{
    margin: 50px 0 20px;
}

.srvc_header{
    font-size: 20px;
    margin: 17px 0;
}

ul.languages {
    list-style-type: none;
    font-weight: 400;
}

/* THE SERVICES_FRONTEND */

.frontend_skills{
    background-color: #794CFB; 
    box-shadow: -5px -5px 7px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.07);
    color: #FFFFFF; 
}

.frontend_skills .languages {
    color: #fff;
}

/* SECOND PURPLE BACKGROUND */

.second_purple_side {
    position: absolute;
    top: 1600px;
    right: 0;
    z-index: 0 !important;
}

/* ABOUT_ME SECTION */

.about {
    display: flex;
    align-items: center;
    background-image: url('images/bgwithNoma.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.aboutme_content {
    width: 73%;
    margin: 0 auto;
    display: flex;
   justify-content: space-between;
}

.the_about {
    width: 500px;
}

.about_title {
    text-align: center;
}

.abt_btn {
    position: absolute;
    left: 215px;
    top: 1970px;
}

/* THE TAB LAYOUT */

nav ul.tab {
    display: flex;
    list-style: none;
    margin: 0 0 37px;
}

nav ul.tab li a {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    transition: .3s;
    font-size: 18px;
    border-radius: 7px 7px 0 0;
}

nav ul.tab li a:hover {
    background-color: #ddd;
    border-bottom: 2px solid #794CFB;
}

nav ul.tab li a:focus,
.active {
    border-bottom: 2px solid #794CFB;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* SECOND PROFILE PICTURE*/

.about_image {
    z-index: 1;
}

/* ****** PORTFOLIO PAGE ****** */

.portfolio_content {
    margin: 25px auto;
}

.row_1,
.row_2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px;
}

.project {
    width: 250px;
    height: 200px;
    text-align: center;
}

/* PROJECT LOGOS */

.stackoverflow_logo {
    width: 177px;
    margin: 0 0 25px;
}

.healthid_logo {
    width: 185px;
    margin: 0 0 40px;
}

.authors_logo {
    width: 140px;
    margin: 0 0 37px;
}

.ratr_logo {
    width: 145px;
    margin: 0 0 45px;
}

.noma_logo {
    width: 180px;
    margin: 0 0 40px;
}

.git_logo {
    width: 140px;
    margin: 0 0 37px;
}

/********** CIRCLES DESIGN ***********/

.circles {
    position: absolute;
    z-index: 0;
    left: 75px;
    top: 2700px;
}

/******** SKILLS *********/

.skills {
    background-color: #794CFB;
    width: 100%;
    margin: 50px 0;
    height: 250px;
    z-index: 2;
    display: flex;
    align-items: center;
}

.skills_content{
    width: 73%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.python{
    width: 165px;
    height: 165px;
    border: 15px solid #FFFFFF;
    border-radius: 100px;
}

.django,
.flask,
.frontend {
    width: 137px;
    height: 137px;
    border: 5px solid #FFFFFF;
    border-radius: 100px;
}

.django,
.flask,
.frontend,
.python {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills_h1{
    font-size: 50px;
}

/********* CONTACT ME *********/

.contact {
    background-image: url('images/contact_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact_content{
    width: 73%;
    margin: 0 auto;
    padding: 70px 50px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    box-shadow: -5px -5px 7px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.07);
    border-radius: 17px;
}

.contact_details{
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.contact_me{
    width: 45%;
}

.contact_title{
    text-align: left;
}

.contact_links {
    margin: 35px 0;
}

.email,
.linkden {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.email>p,
.linkden>p {
    margin-left: 15px;
}

/* CONTACT FORM SECTION */

.send_message {
    width: 50%;
}

input {
    width: 237px;
    height: 45px;
    background: #F6F7FB;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom:17px;
}

.input1,
.input2 {
    display: flex;
    justify-content: space-between;
}

input[type=text]{
    padding-left: 15px;
}

textarea {
    width: 497px;
    height: 150px;
    padding: 15px;
    background: #F6F7FB;
    border-radius: 5px;
    font-size: 15px;
}

.send_button {
    margin-top: 15px;
    width:150px;
    height: 45px;
}

footer{
    width: 20%;
    margin: 20px auto;
    height: 72px;
    text-align: center;
    align-items: center;
    bottom: 0;

    font-weight: 700;
}
